# ========================
# Global
# ========================
.DS_Store
*.log
*.env
.env.local
.env.*.local
.idea/
*.iml
.vscode/
*.class
*.jar
*.war

# ========================
# Frontend - Next.js
# ========================
frontend-fileflow/.next/
frontend-fileflow/node_modules/
frontend-fileflow/out/
frontend-fileflow/.env
frontend-fileflow/.env.local
frontend-fileflow/.env.*.local
frontend-fileflow/package-lock.json
frontend-fileflow/yarn.lock
frontend-fileflow/pnpm-lock.yaml

# ========================
# Backend - Spring Boot
# ========================
backend-fileflow/target/
backend-fileflow/.env
backend-fileflow/.env.local
backend-fileflow/.classpath
backend-fileflow/.project
backend-fileflow/.settings/
backend-fileflow/.idea/
backend-fileflow/build/
backend-fileflow/out/
backend-fileflow/.mvn/
backend-fileflow/mvnw
backend-fileflow/mvnw.cmd

# local uploaded files
backend-fileflow/uploads

FOLDER_MANAGEMENT_README.md
FOLDER_MANAGEMENT_SPRINT_PLAN.md
BULK_OPERATIONS_TESTING_GUIDE.md
FILE_BULK_OPERATIONS_FIX.md
FOLDER_ENHANCEMENTS_SUMMARY.md
FRONTEND_BACKEND_ANALYSIS.md
BULK_OPERATIONS_TESTING_GUIDE.md
FRONTEND_BACKEND_COHERENCE_ANALYSIS.md
IMPLEMENTATION_SUMMARY.md

SPRINT_COMPTE_RENDU_23-31_JUILLET.tex




# ========================
# OS / Editor stuff
# ========================
*.swp
*.swo
Thumbs.db
ehthumbs.db

backend-fileflow/src/main/resources/credentials/
backend-fileflow/credentials/